@{
    ViewBag.Title = "Informationen";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message.</h3>

<p>Es werden zwei Fälle abgefangen:<br />
    1.: Ein User gibt keinen Namen ein<br />
    2.: Ein User möchte eine Nachricht ohne Inhalt versenden</p>