@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
    Marco Bentz<br />
    Hohlstraße 23<br />
    66459 Kirkel<br />
    0152/04216203<br />
    marcobentz@icloud.com
</address>
